################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
Inspire.Erp.Application/obj
Inspire.Erp.Application/bin
Inspire.Erp.Application/obj/project.nuget.cache
Inspire.Erp.Application/obj/project.assets.json
Inspire.Erp.Application/obj/Inspire.Erp.Application.csproj.nuget.g.props
Inspire.Erp.Application/obj/Inspire.Erp.Application.csproj.nuget.dgspec.json
Inspire.Erp.Application/obj/Debug/netcoreapp3.1/Inspire.Erp.Application.GeneratedMSBuildEditorConfig.editorconfig
Inspire.Erp.Application/obj/Debug/netcoreapp3.1/Inspire.Erp.Application.csproj.AssemblyReference.cache
Inspire.Erp.Application/obj/Debug/netcoreapp3.1/Inspire.Erp.Application.assets.cache
Inspire.Erp.Domain/obj
Inspire.Erp.Domain/bin
Inspire.Erp.Domain/obj/Debug/netcoreapp3.1/Inspire.Erp.Domain.GeneratedMSBuildEditorConfig.editorconfig
Inspire.Erp.Domain/obj/Debug/netcoreapp3.1/Inspire.Erp.Domain.csproj.AssemblyReference.cache
Inspire.Erp.Domain/obj/Debug/netcoreapp3.1/Inspire.Erp.Domain.assets.cache
Inspire.Erp.Domain/obj/project.nuget.cache
Inspire.Erp.Domain/obj/project.assets.json
Inspire.Erp.Domain/obj/Inspire.Erp.Domain.csproj.nuget.g.props
Inspire.Erp.Domain/obj/Inspire.Erp.Domain.csproj.nuget.dgspec.json
Inspire.Erp.Infrastructure/bin
Inspire.Erp.Infrastructure/obj
Inspire.Erp.Infrastructure/obj/Debug/netcoreapp3.1/Inspire.Erp.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
Inspire.Erp.Infrastructure/obj/Debug/netcoreapp3.1/Inspire.Erp.Infrastructure.csproj.AssemblyReference.cache
Inspire.Erp.Infrastructure/obj/Debug/netcoreapp3.1/Inspire.Erp.Infrastructure.assets.cache
Inspire.Erp.Infrastructure/obj/project.nuget.cache
Inspire.Erp.Infrastructure/obj/project.assets.json
Inspire.Erp.Infrastructure/obj/Inspire.Erp.Infrastructure.csproj.nuget.g.props
Inspire.Erp.Infrastructure/obj/Inspire.Erp.Infrastructure.csproj.nuget.dgspec.json
Inspire.Erp.Web/obj
Inspire.Erp.Web/bin
Inspire.Erp.Web/obj/Debug/netcoreapp3.1/Inspire.Erp.Web.GeneratedMSBuildEditorConfig.editorconfig
Inspire.Erp.Web/obj/Debug/netcoreapp3.1/Inspire.Erp.Web.csproj.AssemblyReference.cache
Inspire.Erp.Web/obj/Debug/netcoreapp3.1/Inspire.Erp.Web.assets.cache
Inspire.Erp.Web/obj/project.nuget.cache
Inspire.Erp.Web/obj/project.assets.json
Inspire.Erp.Web/obj/Inspire.Erp.Web.csproj.nuget.g.props
Inspire.Erp.Web/obj/Inspire.Erp.Web.csproj.nuget.dgspec.json
Inspire.Erp.WebReport/bin
Inspire.Erp.WebReport/obj
Inspire.Erp.WebReport/bin/SAPBusinessObjects.WPF.ViewerShared.dll
Inspire.Erp.WebReport/bin/SAPBusinessObjects.WPF.Viewer.dll
Inspire.Erp.WebReport/bin/CrystalDecisions.Windows.Forms.dll
Inspire.Erp.WebReport/bin/CrystalDecisions.Shared.dll
Inspire.Erp.WebReport/bin/CrystalDecisions.ReportAppServer.DataSetConversion.dll
Inspire.Erp.WebReport/bin/CrystalDecisions.CrystalReports.Engine.dll
Inspire.Erp.WebReport/obj/Debug/Inspire.Erp.WebReport.csproj.AssemblyReference.cache
Inspire.Erp.WebReport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Inspire.Erp.WebReport/bin - Copy
/Inspire.Erp.WebReport/report
/Inspire.Erp.WebReport/FileExports
/Inspire.Erp.WebReport/Reports
/Inspire.Erp.Web/Logs
/Inspire.Erp.Web/Logs/

